<h1 class="mt-4">Comments</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><%= link_to 'Dashboard', root_path %></li>
    <li class="breadcrumb-item active">Comments</li>
</ol>
<div class="card mb-4">
    <div class="card-header d-flex align-items-center justify-content-between">
        Comments
        <%= link_to 'New', new_comment_path, class: "btn btn-primary" %>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Author Name</th>
                        <th>Comment</th>
                        <th>Video</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Author Name</th>
                        <th>Comment</th>
                        <th>Video</th>
                    </tr>
                </tfoot>
                <tbody>
                    <% @comments.each do |comment| %>
                        <tr>
                            <td><%= comment.author_name %></td>
                            <td><%= comment.comment_body %></td>
                            <td><%= comment.video.title %></td>
                            <td><%= link_to 'Edit', edit_comment_path(comment) %> - <%= link_to 'Destroy', comment_path(comment), method: :delete, data: {confirm: 'Are you sure?'} %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
