<h1 class="mt-4">Página de <%= @category.name %></h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><%= link_to 'Dashboard', root_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Categories', categories_path %></li>
    <li class="breadcrumb-item active"><%= @category.name %></li>
</ol>

<div class="card-columns">
    <% @category.videos.each do |video| %>
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
            <iframe src="<%= embbed_url(video) %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="w-100"></iframe>
            <h5 class="card-title">
                <%= link_to video_path(video) do %>
                <%= video.title %>
                <% end %>
            </h5>
            </div>
        </div>
    <% end %>
</div>